Python Crash Course/Chapter 8/__pycache__/printing_functions.cpython-312.pyc
__pycache__/Tryout.cpython-312.pyc
Python Crash Course/Chapter 8/__pycache__/imports.cpython-312.pyc
Python Crash Course/Chapter 9/Modules/__pycache__/__init__.cpython-312.pyc
Python Crash Course/Chapter 9/Modules/__pycache__/admin.cpython-312.pyc
Python Crash Course/Chapter 9/Modules/__pycache__/restaurant.cpython-312.pyc
Python Crash Course/Chapter 9/Modules/__pycache__/admin_privileges.cpython-312.pyc
Python Crash Course/Chapter 9/Modules/__pycache__/user_admin_privileges.cpython-312.pyc
Python Crash Course/Chapter 9/Modules/__pycache__/user.cpython-312.pyc
